
/* Containers */

.background {
	width: 100%;
}

.container {
	width: 50%;
	max-width: 700px;
	height: 100%;
	margin: 0 auto;
	&.with-padding {
		padding: $clearfix 0;
	}
	&.padding-top {
		padding-top: $clearfix;
	}
	&.padding-bottom {
		padding-bottom: $clearfix;
	}
	@media all and (max-width: $tablet) {
		width: 90%;
	}
}

.content {
	margin: $clearfix 0 0 0;
}

.clearfix {
	width: 100%;
	height: 0;
	clear: both;
}

/* Header */
.header {
	min-height: 485px;
}

.title {
	width: 50%;
	padding: 10% 0;
	@media all and (max-width: $tablet) {
		padding: 100px 0;
	}
	margin: 0 auto;
	text-align: center;
}
