/* Menu Link */

#menu {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	display: none;
	text-align: center;
}

#menu-link-div {
	position: fixed;
	top: 0;
	right: 0;
	transition: linear 0.2s;
	@media all and (max-width: $tablet) {
		width: 100%;
		text-align: right;
	}
}

.menu-link {
	padding: $box-padding;
	display: inline-block;
	&.desktop {
		@media all and (max-width: $tablet) {
			display: none;
		}
	}
	&.mobile {
		display: none;
		@media all and (max-width: $tablet) {
			display: inline-block;
		}
	}
}

/* Menu */

a.menu-icon {
	font-family: $font-title;
	color: $dark-gray;
}

.menu-items {
	margin-top: 10%;
	line-height: 2em;
	padding: 10px;

}

a.menu-item:link, a.menu-item:visited {
	font-family: $font-title;
	font-weight: $font-bold;
	letter-spacing: $font-title-letter-spacing;
	text-transform: uppercase;
	color: $dark-gray;
	font-size: $font-subtitle-size;
	margin: $small;
	@media all and (max-width: $mobile) {
		font-size: 0.8em;
	}

}

a.menu-item:hover, a.menu-item:active {
	border-bottom: 2px $dark-gray solid;
}

.waypoint-pink, .waypoint-gray, .waypoint-yellow, .waypoint-blue {
	width: 100%;
	height: 0px;
}

/* Cloud */

.cloud {
	width: 75px;
	position: absolute;
	left: 0;
	top: 0;
	padding: $box-padding;
	z-index: 999;
	img {
		width: 100%;
	}
}