body {
	background-color: #eee;
    font-family: Source Sans Pro, Helvetica;
    color: #222;
}

.container {
	max-width: 700px;
	margin: 0 auto;
	padding: 30px;
}

.dearjon {
    font-weight: 700;
    font-size: 100pt;
    text-align: center;
    width: 100%; 
    display: none;
}

.letter {
    font-weight: 300;
    font-size: 12pt; 
    line-height: 14pt;
    text-align: left;
    width: 100%;   
    text-indent: 40px;
    display: none;
}

.signature {
    padding-left: 40px;
    text-indent: 0;
}

.divider {
    width: 80%;
    height: 1px;
    margin: 80px auto;
    border-bottom: 1px solid;
    display: none;
}

a:link, a:visited {
    text-decoration:none;
    font-style: italic;
    transition: linear 0.2s;
    color: #1693A5;
}

a:hover {
    color: #FF0066;
}

@media screen and (max-width: 650px){ 
    .dearjon {
        font-size: 72pt;
    }
}

@media screen and (max-width: 500px){ 
    .dearjon {
        font-size: 48pt;
    }
}
