body, html {
	width: 100%;
	height: 100%;
	margin: 0;
}

.wrapper {
	width: 100%;
}

.blue {
	background-color: #4ECDC4;
	color: #FFF;
}

.white {
	background-color: #FFF;
	color: #556270;
}

.container {
	max-width: 960px;
	padding: 100px 30px;
	margin: auto;
	text-align: center;
}

#hello, #coverletter, #links {
	display: none;
}

#landing {
	min-height: 100%;
}

footer {
	max-width: 500px;
	padding: 40px;
	margin: 30px;
	border-top: 1px solid;
	margin: auto;
	text-align: center;
	font-family: "Noto Sans", sans-serif;
}

.title, .header {
	font-family: "Raleway", sans-serif;
}

.title {
	font-size: 48pt;
	text-transform: uppercase;
}

.header {
	font-size: 36pt;
}

.caption {
	font-family: "Noto Sans", sans-serif;
	font-style: italic;
	font-size: 12pt;
}

.padding {
	padding: 40px 0px;
}

.grid {
	display: inline-block;
	padding: 30px 15px;
	max-width: 150px;
}

img {
	width: 100%;
}

a:LINK, a:VISITED {
	text-decoration: none;
	font-weight: 700;
}

a.w:LINK, a.w:VISITED {
	color: #FFF;
}

a.g:LINK, a.g:VISITED {
	color: #4ECDC4;
}

a.w:HOVER {
	color: #556270;
}

a.g:HOVER {
	color: #556270;
}

a.nav:LINK, a.nav:VISITED {
	display: block;
	padding: 15px;
	background-color: #FFF;
	color: #4ECDC4;
	border: 2px #FFF solid;
	font-family: "Raleway", san-serif;
	text-transform: uppercase;
	transition: linear 0.2s;
}

a.nav:HOVER {
	color: #FFF;
	background-color: #4ECDC4;
}

@media (max-width: 600px) {
	.title {
		font-size: 36pt;
	}

	.header {
		font-size: 24pt;
	}
}

@media (max-width: 450px) {
	.title {
		font-size: 24pt;
	}

	.header {
		font-size: 18pt;
	}

	.grid {
		display: block;
		margin: auto;
		padding: 5px 5px;
	}
}
