html, body {
	background-color: #FFF;
	margin: 0;
}

#hello {
	width: 100%;
	min-height: 90%;
	background-color: #028F76;
	margin: 0;
}

.title {
	font-weight: 900;
	font-size: 48pt;
	color: #FFF;
	font-family: "Helvetica", sans-serif;
	text-align: left;
	padding: 50px;
	max-width: 960px;
	padding-top: 100px;
	display: none;
}

.container {
	max-width: 960px;
	margin: auto;
	padding: 70px 30px;
	text-align: center;
}

.text {
	font-weight: 900;
	font-size: 24pt;
	color: #3E4147;
	font-family: "Helvetica", sans-serif;
}

.caption {
	font-size: 14pt;
	font-style: italic;
	font-weight: 300;
}

.fourty-eight {
	font-size: 48pt;
}

.single, .wrapper {
	margin: auto;
	padding: 20px;
}

.single {
	max-width: 500px;
}

.double {
	display: inline-block;
	max-width: 300px;
	margin: 5px;
	vertical-align: top;
}

.margin {
	margin-top: 20px;
	display: none;
}

img {
	width: 100%;
}

a:LINK, a:VISITED {
	font-weight: 900;
	text-decoration: none;
	color: #028F76;
}

a:HOVER {
	color: #B3E099;
}

a.nav:LINK, a.nav:VISITED {
	font-size: 14pt;
	text-decoration: none;
	padding: 20px;
	margin-right: 20px;
	background-color: #FFF;
	border: 1px #FFF solid;
	color: #028F76;
	transition: linear 0.3s;
}

a.nav:HOVER {
	background-color: #028F76;
	color: #FFF;
}

@media (max-width: 600px) {
	.title {
		font-size: 24pt;
		padding-top: 50px;
	}

	.text {
		font-size: 14pt;
	}

	.wrapper, .single {
		padding: 10px;
	}
	
	.container {
		padding: 40px 30px;
	}

	a.nav:LINK, a.nav:VISITED {
		display: block;
		padding: 10px;
		margin-top: 2px;
		text-align: center;
		font-size: 10pt;
	}

}