
@import url(https://fonts.googleapis.com/css?family=Bitter:400,400italic,700);

/* Colors */

$orange: #F56400;
$blue: #34A8C4;
$darker-blue: #20879F;
$lightest-gray: #FBFBFA;
$light-gray: #F5F5F1;
$med-gray: #E1E3DF;
$text-gray: #555555;
$darkest-gray: #222222;
$light-red: #FFEDED;
$darker-red: #F76A6A;

/* Typography */
$font-title: 'Bitter', serif;
$font-body: 'Helvetica', sans-serif;

/* Breakpoints */

$tablet: 900px;
$mobile: 500px;

html, body {
	background: URL("bg.png") center no-repeat;
	background-color: $orange;
	background-attachment: fixed;
	height: 100%;
	margin: 0;
	padding: 0;
	color: $text-gray;
	font-family: $font-body;
	font-size: 1em;
	line-height: 2em;
}

form, fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

input, textarea {
	height: 2em;
	border-radius: 3px;
	border: 1px $med-gray solid;
	margin-bottom: 10px;
	font-size: 1em;
}

img {
	width: 100%;
}

.button {
	color: #FFF;
	font-size: 1.1em;
	font-weight: bold;
	text-decoration: none;
	background-color: $blue;
	border: 1px $darker-blue solid;
	border-radius: 2px;
	padding: 10px 15px;
	margin: 5px;
}

h1 {
	font-family: $font-title;
	font-size: 2em;
	line-height: 1.4em;
	&.title-h1 {
		color: $lightest-gray;
		font-size: 2.5em;
		padding: none;
	}
}

h2 {
	font-family: $font-title;
	font-size: 1.6em;
	margin: 0;
	padding: 0;
}

h3 {
	font-family: $font-title;
	font-size: 1.1em;
	font-weight: 400;
	margin: 0;
	padding: 0;
}

.input-error {
	background-color: $light-red;
	border: 1px $darker-red solid;
}

.label-error {
	color: $darker-red;
}

.container {
	width: 100%;
	padding: 60px 0px;
}

.clear {
	height: 40%;
}

.title {
	padding: 20px 0px;
	width: 100%;
	text-align: center;
}

.light-gray {
	background-color: $light-gray;
	border-bottom: 1px $med-gray solid;
}

.white {
	background-color: #FFF;
}

.orange {
	background-color: $orange;
}

.content {
	width: 50%;
	max-width: 700px;
	margin: auto;
	@media all and (max-width: $tablet) {
		width: 90%;
	}
}

.grid {
	width: 100%;
}

.col-1-2 {
	width: 40%;
	display: inline-block;
	padding-right: 20px;
}

.col-1-3 {
	width: 30%;
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;

}

.center {
	text-align: center;
	margin: 20px;
}

.title-content {
	width: 100%;
	padding: 1px;
	background-color: $orange;
	text-align: center;

}

.small {
	font-size: 0.7em;
	line-height: 1.4em;
}

#question {
	margin-bottom: 0px;
}

#characters-remaining {
	text-align: right;
	font-size: 0.8em;
}

#thankyou {
	display: none;
}
