
/* Footer */
.footer {
	text-align: center;
	width: 80%;
	padding: $clearfix 0;
	margin: 1em auto 0 auto;
	@media all and (max-width: $tablet) {
		width: 95%;
	}
}

.social {
	margin: $small;
	width: 5%;
	@media all and (max-width: $mobile) {
		width: 15%;
	}
}