/* Font Families */
@import url(http://fonts.googleapis.com/css?family=Montserrat:700|Signika:300,700);
/* Colors */
/* Typography */
/* Breakpoints */
/* Margins */
/* Padding */
/* General */
body, html {
  color: #37393D;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Signika", sans-serif;
  font-size: 1.05em; }

p {
  line-height: 1.5em; }

b, strong {
  font-weight: 700; }

a:link, a:visited, a:active {
  text-decoration: none;
  color: #81949E; }

a:hover {
  color: #37393D; }

.no-top-margin {
  margin-top: 0; }

.no-bottom-margin {
  margin-bottom: 0; }

/* Headers */
h1, h2 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 1.6em; }

h2 {
  font-size: 1.05em; }

h3, h4, h5 {
  font-family: "Signika", sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  line-height: 1.5em;
  margin: 0; }

h4 {
  font-weight: 300; }

h5 {
  text-transform: none; }

/* Background Colors */
.pink {
  background-color: #F15F51; }

.yellow {
  background-color: #F7D23B; }

.light-yellow {
  background-color: #ECE37B; }

.light-blue {
  background-color: #ADD5BC; }

.blue {
  background-color: #7BB7B4; }

.white {
  background-color: #FFF; }

.gray {
  background-color: #E9E9E9; }

/* Buttons */
.button-span {
  display: inline-block;
  margin: 10px 30px 0 0; }

a.button:link, a.button:visited {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #37393D;
  padding: 10px;
  border: 2px #37393D solid;
  display: block; }

a.button:hover, a.button:active {
  background-color: #37393D;
  transition: linear 0.1s;
  color: #FFF; }
  a.button:hover.button-pink, a.button:active.button-pink {
    color: #F15F51; }
  a.button:hover.button-gray, a.button:active.button-gray {
    color: #E9E9E9; }
  a.button:hover.button-yellow, a.button:active.button-yellow {
    color: #F7D23B; }
  a.button:hover.button-blue, a.button:active.button-blue {
    color: #7BB7B4; }

/* Menu */
#menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  text-align: center; }

#menu-link-div {
  position: fixed;
  top: 0;
  right: 0;
  transition: linear 0.2s; }
  @media all and (max-width: 900px) {
    #menu-link-div {
      width: 100%;
      text-align: right; } }

.menu-link {
  padding: 10px;
  display: inline-block; }
  @media all and (max-width: 900px) {
    .menu-link.desktop {
      display: none; } }
  .menu-link.mobile {
    display: none; }
    @media all and (max-width: 900px) {
      .menu-link.mobile {
        display: inline-block; } }

a.menu-icon {
  font-family: "Montserrat", sans-serif;
  color: #37393D; }

.menu-items {
  line-height: 2em;
  padding: 10px; }

a.menu-item:link, a.menu-item:visited {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #37393D;
  font-size: 1.6em;
  margin: 10px; }

a.menu-item:hover, a.menu-item:active {
  border-bottom: 2px #37393D solid; }

.waypoint-pink, .waypoint-gray, .waypoint-yellow, .waypoint-blue {
  width: 100%;
  height: 0px; }

/* Footer */
.footer {
  text-align: center;
  width: 80%;
  padding: 50px 0;
  margin: 1em auto 0 auto; }
  @media all and (max-width: 900px) {
    .footer {
      width: 95%; } }

.social {
  margin: 10px;
  width: 5%; }

/* Containers */
.background {
  width: 100%; }

.container {
  width: 50%;
  max-width: 700px;
  height: 100%;
  margin: 0 auto; }
  .container.with-padding {
    padding: 50px 0; }
  .container.padding-top {
    padding-top: 50px; }
  .container.padding-bottom {
    padding-bottom: 50px; }
  @media all and (max-width: 900px) {
    .container {
      width: 90%; } }

.content {
  margin: 50px 0 0 0; }

.clearfix {
  width: 100%;
  height: 0;
  clear: both; }

/* Header */
.header {
  min-height: 40%; }

.title {
  width: 50%;
  padding: 100px 0;
  margin: 0 auto;
  text-align: center; }

/* Containers */
.intro {
  height: 75%;
  text-align: center; }

.castle {
  width: 95%;
  max-width: 360px;
  margin-top: 50px; }

@media all and (min-width: 900px) {
  .extra-padding {
    padding: 10px 0; } }

/* Images */
.photo {
  width: 100%;
  height: 240px;
  margin-bottom: 30px; }

.overlay {
  width: 100%;
  height: 100%;
  opacity: 0.6;
  margin: 0; }

.shapeways {
  background: URL("../images/shapeways.png");
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: center center; }
  @media all and (max-width: 500px) {
    .shapeways {
      background-position: center bottom; } }

.wonder {
  background: URL("../images/wonder.png");
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: center center; }
  @media all and (max-width: 500px) {
    .wonder {
      background-position: center bottom; } }

.innod {
  background: URL("../images/innod.png");
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: center center; }
  @media all and (max-width: 500px) {
    .innod {
      background-position: center bottom; } }

.other {
  background: URL("../images/other.png");
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%; }
  @media all and (max-width: 500px) {
    .other {
      background-position: center bottom; } }

/*# sourceMappingURL=home.css.map */
