@import "_variables.scss";
@import "_general.scss";
@import "_buttons.scss";
@import "_menu.scss";
@import "_footer.scss";
@import "_containers.scss";

/* Containers */

.intro {
	min-height: 70%;
}

.clearfix {
	width: 100%;
	height: $clearfix;
}

.blurb {
	position: absolute;
	top: 20%;
	left: 10%;
	width: 80%;
}

/* Images */

.photo {
	width: 100%;
	min-width: 240px;
	height: 200px;
	margin: 0 0 $box-margin 0;
}

.overlay {
	width: 100%;
	min-width: 240px;
	height: 200px;
	margin: 0;
	opacity: 0.8;
}

.shapeways {
	background: URL("../images/shapeways.png") center center;
	background-size: 100%;
}

.wonder {
	background: URL("../images/wonder.png");
	background-size: 100%;
}

.innod {
	background: URL("../images/innod.png") center center;
	background-size: 100%;
}

.other {
	background: URL("../images/other.png") center center;
	background-size: 100%;
}


