body {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	width: 100%;
	height: 100%;
	margin: 0;
	backgound-color: #F1F2E5;
}

.wrapper {
	position: fixed;
	bottom: 0;
	width: 100%;
	margin: auto;
	min-height: 80px;
	font-size: 10pt;
	letter-spacing: 5px;
	color: #F1F2E5;
	text-align: center;

}

.text {
	width: 50%;
	margin: auto;
	padding: 40px;
	height: 80px;
	font-size: 8pt;
	letter-spacing: 4px;
	color: #F1F2E5;
	text-align: center;

}

#two {
	display: none;
}

.heart {
	max-width: 100%;
	height: 75%;
	min-height: 250px;
	background-color: #1D1C20;
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	-webkit-background-size: auto 50%;
	-moz-background-size: auto 50%;
	-o-background-size: auto 50%;
	background-size: auto 50%;
}

.heart1 {
	background-image: url(heart1.png);
}

.heart2 {
	background-image: url(heart2.png);
}

.heart3 {
	background-image: url(heart3.png);
}

.heart4 {
	background-image: url(heart4.png);
}